
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Style the body and center the h1 */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    background: linear-gradient(-135deg, #2EB086,black, #B8405E);
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(-20px); /* Start slightly above */
    animation: fadeSlideIn 1s ease-in-out forwards;
}

/* Style the container holding the bubbles */
.button-container {
    display: flex;
    gap: 20px;
    transform: translateY(20px); /* Start slightly below */
    animation: fadeSlideIn 1s ease-in-out forwards;

}

.button {
    --color: #5DAE8B;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    opacity: 0;
    animation: fadeSlideIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
   }
   
.button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
.button::before {
    top: -1em;
    left: -1em;
   }
   
.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
.button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
.button:hover {
    color: rgb(10, 25, 30);
   }
   
.button:active {
    filter: brightness(.8);
   }
   

