body {
        font-family: Garamond, serif;
        margin: 20px;
        background-color: black;
        color: white;
}

h1 {
        text-align: center;
        color: #c2b067;
}

div {
        margin-bottom: 15px;
}


#layout-container {
    display: flex;
    align-items: center; /* Align items to the top */
    gap: 20px; /* Add spacing between the two sections */
    margin: 20px 0;
}

#inputs-container {
    flex: 1;
    max-width: 60%;
}

.input-button-pair {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#stock-data-container {
    flex: 1;
    max-width: 40%;
    padding: 10px;
    border: 1px solid #c2b067;
    border-radius: 5px;
    background-color: black;
    align-items: center;
    
}


#stock-data {
    font-size: 1rem;
    line-height: 1.5;
}

#update-cash, #update-assets {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-bottom: 20px;
    border: 1.2px solid #c2b067;
    letter-spacing: 1px;
    border-radius: 25px; 
    text-transform: uppercase;
}

#update-cash:hover, #update-assets:hover {
    letter-spacing: 3px;
    background-color: #c2b067;
    color: hsl(0, 0%, 100%);
    box-shadow: #856a00;
}

#update-cash:active, #update-assets:active {
    letter-spacing: 3px;
    background-color: black;
    color: hsl(0, 0%, 100%);
    box-shadow: #856a00;
    transform: translateY(10px);
    transition: 100ms;
  }

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-bottom: 10px;
    border: 1.2px solid #c2b067;
    letter-spacing: 1px;
    border-radius: 25px; 
    text-transform: uppercase;
  }

button:hover {
    letter-spacing: 3px;
    background-color: #c2b067;
    color: hsl(0, 0%, 100%);
    box-shadow: #856a00;
  }

  button:active {
    letter-spacing: 3px;
    background-color: #c2b067;
    color: hsl(0, 0%, 100%);
    box-shadow: #856a00;
    transform: translateY(10px);
    transition: 100ms;
  }


#buy-stock {
    border: 1.2px solid hsl(150, 80%, 48%);
    color: white;
}

#buy-stock:hover {
    background-color: hsl(152, 69%, 55%);
}

#buy-stock:active {
    background-color: black;
    border: 1.2px solid hsl(150, 80%, 48%);
    color:white;
}

#sell-stock {
    border: 1.2px solid hsl(0, 80%, 48%);
    color: white;
}

#sell-stock:hover {
    background-color: hsl(0, 70%, 38%);
}

#sell-stock:active {
    background-color: black ;
    border: 1.2px solid hsl(0, 90%, 28%);
    color:white;
}

#portfolio-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin: 20px 0;
}

#table-container {
    flex: 1;
    max-width: 50%;
    overflow-x: auto;
}

#stock-table {
    width: 100%;
    border-collapse: collapse;
}

#stock-table th, #stock-table td {
    border: 1px solid #c2b067;
    padding: 8px;
    text-align: left;
}

#stock-table th {
    background-color: black;
    font-weight: bold;
    border-radius: 25px;
    border: 1.2px solid #c2b067;
}

#chart-container {
    flex: 1;
    max-width: 50%;
}

#portfolioChart {
    width: 100%;
    height: auto;
}


#finance-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    
}



#vertically{
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    gap: 20px;
}

#cash-display {
    font-size: 1.2rem;
    font-weight: bold;
}

#assets-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#total-assets, #cash-amount {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.8;
}

#chart-container {
    margin: 20px auto;
    max-width: 600px; 
    padding: 10px;
    border: 1px solid #c2b067;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#chart-container h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #c2b067; /* Darker text color */
}

#portfolioChart {
    width: 100%;
    height: auto;
}

.input-group{
    position: relative;
}

.input-group label{
    position: absolute;
    transform: translateY(-50%);
    left: 15px;
    font-size: 16px;
    pointer-events: none;
    color: white;
    padding: 0 5px;
    transition: .5s;
}

.input-group input{
    height: 30px;
    color: white;
    font-size: 16px;
    border: 1.2px solid gold;
    background: transparent;
    outline:none;
    border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label{
    top: 0;
    background: black;
    font-size: 14px
}


